@page 
@model BugTracker.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

@* TBD: Fix Filter/Search Functionality *@
@* <form>
    <p>
        <select asp-for="ReportStatus" asp-items="Model.Status">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form> *@

<div class="table">
    @foreach (var item in Model.Report)
    {
        <span class="report">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            @if (item.Status)
            {
                <p>C</p>
            }
            else
            {
                <p>U</p>
            }
            @* <p>@Html.DisplayFor(modelItem =>  item.Status ? "Yes" : "no")</p> *@
            <button class="details"><a href="/Reports/Details/1">...</a></button>
            <button class="delete">X</button>
        </span>
    }
</div>

@* <table class="table" style="padding: 10px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report[0].Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Report) {
        <tr>
            <td>
                <span style="background: red;"">
                    @Html.DisplayFor(modelItem => item.Title)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a href="/Reports/Edit/1">Edit</a> |
                <a href="/Reports/Details/1">Details</a> |
                <a href="/Reports/Delete/1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
